<h1>Orders</h1>

<table id="flowers">
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.username %></td>
        <td><%= link_to 'Show', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', flowers_path, :class => 'back-btn' %>
